<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideal.order.mapper.OrderMapper">


	<!--  购物车所有商品-->
  	<select id="getAllCart" resultType="com.ideal.order.dto.OrderCartDto">
  		select o.offer_id,o.offer_name,o.offer_desc,o.pricing,oaa.default_value
		from cart c left join offer o 
		on c.OFFER_ID = o.offer_id
		left join (select oa.offer_id,oa.default_value from offer_attr oa left join dictionary d on oa.attr_id=d.dictionary_id where d.attr_name="缩略图地址") oaa
		on o.offer_id=oaa.offer_id where c.user_name = #{USER_NAME}
  	</select>
  	<!--  组合商品-->
  	<select id="getGroupOffer" resultType="com.ideal.order.dto.OrderCartDto">
  		select o.offer_id,o.offer_name,o.offer_desc,o.pricing,oaa.default_value
		from offer o left join offer_rel orr on o.offer_id = orr.offer_id
		left join (select oa.offer_id,oa.default_value from offer_attr oa left join dictionary d on oa.attr_id=d.dictionary_id where d.attr_name="缩略图地址") oaa
		on o.offer_id=oaa.offer_id where orr.offer_id= #{OFFER_ID}
  	</select>
</mapper>